* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-button {
    width: 75vmin;
    height: 75vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 20vmin;
}

.eyes {
    font-size: 5vmax;
    position: fixed;
    width: 120vw;
    height: 120vh;
    line-height: 4vmax;
    overflow: hidden;
    top: -3vmax;
    left: -3vmax;
    user-select: none;
}